# TASK 4.8

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Folder path
path = r'C:\Users\Lucero\Documents\Instacart Basket Analysis\02 Data'

 # Step 1

In [4]:
#Importing 'orders_products_merged_updated.pkl'
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_merged_update.pkl'))

# Step 2

In [5]:
#Grouping data by 'department_id' and then aggregating to find mean of 'order_number'
df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [6]:
#Different way of finding mean of 'order_number'
df_ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# Step 3

In [ ]:
Now we have more 'department_id' rows displayed 21.
Most of the 'department_ids' in the full data frame have a lower mean compared to the subset. Other than number 17, which has a higher mean across the entire data frame.

# Step 4

In [7]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'order_number' column to generate the max orders for each user.
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
df_ords_prods_merged.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer
6,6,550135,1,prior,7,1,9,20.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
10,144,2968173,15,prior,15,1,9,7.0,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,146,1870022,15,prior,17,2,16,8.0,196,6,...,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer
12,147,1911383,15,prior,18,2,11,7.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer
13,150,2715276,15,prior,21,1,9,7.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,151,487368,15,prior,22,1,10,14.0,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [12]:
#Checking the count of 'loyalty_flag' values
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [13]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False).sum()

32404859

In [14]:
df_ords_prods_merged.shape

(32404859, 22)

# Step 5

In [15]:
#Performing multiple aggregations ('min', 'max', 'mean', 'sum')
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

# Step 6

In [16]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'prices' column to generate the average prices for each user.
df_ords_prods_merged['avg_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
df_ords_prods_merged.loc[df_ords_prods_merged['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [18]:
df_ords_prods_merged.loc[df_ords_prods_merged['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [19]:
df_ords_prods_merged.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low spender
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,2,473747,1,prior,3,3,12,21.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,4,431534,1,prior,5,4,15,28.0,196,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,6.367797,Low spender
6,6,550135,1,prior,7,1,9,20.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
10,144,2968173,15,prior,15,1,9,7.0,196,2,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
11,146,1870022,15,prior,17,2,16,8.0,196,6,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,3.980556,Low spender
12,147,1911383,15,prior,18,2,11,7.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,3.980556,Low spender
13,150,2715276,15,prior,21,1,9,7.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
14,151,487368,15,prior,22,1,10,14.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [20]:
#Checking the count of 'spending_flag' values
df_ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [21]:
df_ords_prods_merged['spending_flag'].value_counts(dropna = False).sum()

32404859

In [22]:
df_ords_prods_merged.shape

(32404859, 24)

# Step 7

In [24]:
# Renaming column
df_ords_prods_merged.rename(columns = {'days_since_last_order' : 'days_since_prior_order'}, inplace = True)

In [25]:
# Checking
df_ords_prods_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low spender
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,2,473747,1,prior,3,3,12,21.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,4,431534,1,prior,5,4,15,28.0,196,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender

In [26]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'days_since_prior_order' column to generate the median order frequency for each user.
df_ords_prods_merged['median_freq'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_freq'] > 20, 'order_freq_flag'] = 'Non-frequent customer'

In [28]:
df_ords_prods_merged.loc[(df_ords_prods_merged['median_freq'] > 10) & (df_ords_prods_merged['median_freq'] <= 20), 'order_freq_flag'] = 'Regular customer'

In [29]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_freq'] <= 10, 'order_freq_flag'] = 'Frequent customer'

In [30]:
df_ords_prods_merged.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,6,550135,1,prior,7,1,9,20.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,144,2968173,15,prior,15,1,9,7.0,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,146,1870022,15,prior,17,2,16,8.0,196,6,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,147,1911383,15,prior,18,2,11,7.0,196,1,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,150,2715276,15,prior,21,1,9,7.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,151,487368,15,prior,22,1,10,14.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [31]:
#Checking the count of 'order_freq_flag' values
df_ords_prods_merged['order_freq_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

In [32]:
df_ords_prods_merged['order_freq_flag'].value_counts(dropna = False).sum()

32404859

In [33]:
df_ords_prods_merged.shape

(32404859, 26)

We can see that the sum of the count values of 'order_freq_flag' is equal to the total number of rows in 'df_ords_prods_merged.

# Step 9

In [34]:
# Exporting
df_ords_prods_merged.to_pickle(os.path.join(path,'Prepared Data','orders_products_merged_aggregated.pkl'))